@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 75%;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
}

.english-grammar {
    line-height: 1.6;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding and borders are included in width/height calculations */
    border: 1px solid #ccc; /* Border around the entire content */

    h1,
    h2 {
        color: var(--primary);
        text-align: center;
    }

    ul {
        margin: 10px 0;
        padding-left: 20px;
        border: 1px solid #ddd; /* Border around the unordered list */
        padding: 10px;
        box-sizing: border-box;
    }

    li {
        list-style-type: none;
    }

    .content-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        border: 1px solid #ddd; /* Border around the content section */
        padding: 10px;
        box-sizing: border-box;
    }

    .content-large {
        flex: 0 0 50%;
        padding: 10px;
    }

    .content-small {
        flex: 0 0 45%;
        padding: 10px;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
        padding: 10px;

        img {
            width: 100%; /* Ensure image fills the container */
            height: auto;
        }
    }
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
